<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.cvut.fel.matyapav.showcase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusinessTripDetailActivity"
            android:label="@string/title_activity_business_trip_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cvut.fel.matyapav.showcase.MainActivity" />
        </activity>
        <activity
            android:name=".BusinessTripPartsActivity"
            android:label="@string/title_activity_business_trip_parts"
            android:parentActivityName=".BusinessTripDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cvut.fel.matyapav.showcase.BusinessTripDetailActivity" />
        </activity>
        <activity
            android:name=".BusinessTripPartDetailActivity"
            android:label="@string/title_activity_business_trip_parts_detail"
            android:parentActivityName=".BusinessTripPartsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.cvut.fel.matyapav.showcase.BusinessTripPartsActivity" />
        </activity>
    </application>

</manifest>