body {
    background-color: #555555;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.app-name {
    background: #5cb85c;
    margin: 0;
    padding: 20px;
    color: white;
}

.top {
    height: 25px;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    text-align: center;
    font-size: large;
}

.center-90-percent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.from-top-40-px {
    margin-top: 40px;
}

.float-right {
    float: right;
}

.height-50px {
    height: 50px;
}