<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>UIxy</display-name>

    <!-- APPLICATIONS MAPPING -->
    <servlet>
        <servlet-name>ApplicationsListServlet</servlet-name>
        <servlet-class>servlet.applications.AppListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationsCreateServlet</servlet-name>
        <servlet-class>servlet.applications.AppCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationsListServlet</servlet-name>
        <url-pattern>/apps/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationsCreateServlet</servlet-name>
        <url-pattern>/apps/create</url-pattern>
    </servlet-mapping>

    <!-- SCREENS MAPPING -->
    <servlet>
        <servlet-name>ScreenListServlet</servlet-name>
        <servlet-class>servlet.screens.ScreenListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenCreateServlet</servlet-name>
        <servlet-class>servlet.screens.ScreenCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ScreenListServlet</servlet-name>
        <url-pattern>/screens/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenCreateServlet</servlet-name>
        <url-pattern>/screens/create</url-pattern>
    </servlet-mapping>

    <!-- COMPONENTS MAPPING -->
    <servlet>
        <servlet-name>ComponentListServlet</servlet-name>
        <servlet-class>servlet.components.ComponentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComponentCreateServlet</servlet-name>
        <servlet-class>servlet.components.ComponentCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ComponentListServlet</servlet-name>
        <url-pattern>/components/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComponentCreateServlet</servlet-name>
        <url-pattern>/components/create</url-pattern>
    </servlet-mapping>

    <!-- BUSINESS CASES MAPPING -->
    <servlet>
        <servlet-name>BusinessCaseListServlet</servlet-name>
        <servlet-class>servlet.businesscases.BusinessCaseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessCaseCreateServlet</servlet-name>
        <servlet-class>servlet.businesscases.BusinessCaseCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BusinessCaseListServlet</servlet-name>
        <url-pattern>/businesscases/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessCaseCreateServlet</servlet-name>
        <url-pattern>/businesscases/create</url-pattern>
    </servlet-mapping>

    <!-- BUSINESS CASE PHASES MAPPING -->
    <servlet>
        <servlet-name>BCPhaseListServlet</servlet-name>
        <servlet-class>servlet.businesscases.BCPhaseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BCPhaseCreateServlet</servlet-name>
        <servlet-class>servlet.businesscases.BCPhaseCreateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BCPhaseListServlet</servlet-name>
        <url-pattern>/businesscases/phases/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BCPhaseCreateServlet</servlet-name>
        <url-pattern>/businesscases/phases/create</url-pattern>
    </servlet-mapping>

</web-app>